@{
    ViewData["Title"] = "Soporte";
}

@{
    Layout = "_LayoutInterno";
}

<h2>Soporte</h2>
<ul>
    <li><b>No puedo iniciar sesión:</b> verificá identificación y contraseña.</li>
    <li><b>Olvidé mi clave:</b> usá “Recuperar Acceso”.</li>
    <li><b>Ayuda:</b> escribinos por “Contacto”.</li>
</ul>

