USE [master]
GO
/****** Object:  Database [ASECCC]    Script Date: 11/19/2025 4:15:22 AM ******/
CREATE DATABASE [ASECCC]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ASECCC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ASECCC]
GO
/****** Object:  Table [dbo].[Ahorros]    Script Date: 11/19/2025 4:15:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ahorros](
	[ahorroId] [int] IDENTITY(1,1) NOT NULL,
	[usuarioId] [int] NOT NULL,
	[tipoAhorroId] [int] NOT NULL,
	[montoInicial] [decimal](10, 2) NOT NULL,
	[montoActual] [decimal](10, 2) NOT NULL,
	[fechaInicio] [datetime] NULL,
	[plazo] [int] NULL,
	[estado] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Ahorros] PRIMARY KEY CLUSTERED 
(
	[ahorroId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AhorroTransacciones]    Script Date: 11/19/2025 4:15:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AhorroTransacciones](
	[transaccionAhorroId] [int] IDENTITY(1,1) NOT NULL,
	[ahorroId] [int] NOT NULL,
	[tipoTransaccionId] [int] NOT NULL,
	[monto] [decimal](10, 2) NOT NULL,
	[fechaTransaccion] [datetime] NULL,
	[descripcion] [varchar](max) NULL,
 CONSTRAINT [PK_AhorroTransacciones] PRIMARY KEY CLUSTERED 
(
	[transaccionAhorroId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Aportes]    Script Date: 11/19/2025 4:15:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Aportes](
	[aporteId] [int] IDENTITY(1,1) NOT NULL,
	[usuarioId] [int] NULL,
	[tipoAporte] [varchar](50) NOT NULL,
	[monto] [decimal](10, 2) NOT NULL,
	[fechaRegistro] [datetime] NULL,
 CONSTRAINT [PK_Aportes] PRIMARY KEY CLUSTERED 
(
	[aporteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AportesTransacciones]    Script Date: 11/19/2025 4:15:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AportesTransacciones](
	[transaccionAportesId] [int] IDENTITY(1,1) NOT NULL,
	[aporteId] [int] NOT NULL,
	[monto] [decimal](10, 2) NOT NULL,
	[fechaTransaccion] [datetime] NULL,
	[descripcion] [varchar](max) NULL,
 CONSTRAINT [PK_AportesTransacciones] PRIMARY KEY CLUSTERED 
(
	[transaccionAportesId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Beneficiarios]    Script Date: 11/19/2025 4:15:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Beneficiarios](
	[beneficiarioId] [int] IDENTITY(1,1) NOT NULL,
	[usuarioId] [int] NULL,
	[nombreCompleto] [varchar](255) NOT NULL,
	[relacion] [varchar](100) NOT NULL,
	[porcentajeBeneficio] [decimal](5, 2) NOT NULL,
 CONSTRAINT [PK_Beneficiarios] PRIMARY KEY CLUSTERED 
(
	[beneficiarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BeneficiosServicios]    Script Date: 11/19/2025 4:15:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BeneficiosServicios](
	[beneficioId] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](255) NOT NULL,
	[descripcion] [varchar](max) NULL,
	[categoria] [varchar](100) NULL,
	[requisitos] [varchar](max) NULL,
	[estado] [varchar](50) NOT NULL,
	[fechaRegistro] [datetime] NULL,
 CONSTRAINT [PK_BeneficiosServicios] PRIMARY KEY CLUSTERED 
(
	[beneficioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BeneficiosServiciosCuenta]    Script Date: 11/19/2025 4:15:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BeneficiosServiciosCuenta](
	[cuentaBeneficiosServiciosId] [int] IDENTITY(1,1) NOT NULL,
	[usuarioId] [int] NOT NULL,
	[beneficioId] [int] NOT NULL,
	[montoTotal] [decimal](10, 2) NOT NULL,
	[montoPendiente] [decimal](10, 2) NOT NULL,
	[numeroProforma] [varchar](50) NULL,
	[plazo] [int] NULL,
	[fechaCreacion] [datetime] NULL,
	[estado] [varchar](50) NOT NULL,
 CONSTRAINT [PK_BeneficiosServiciosCuenta] PRIMARY KEY CLUSTERED 
(
	[cuentaBeneficiosServiciosId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BeneficiosTransacciones]    Script Date: 11/19/2025 4:15:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BeneficiosTransacciones](
	[transaccionId] [int] IDENTITY(1,1) NOT NULL,
	[cuentaBeneficiosServiciosId] [int] NOT NULL,
	[monto] [decimal](10, 2) NOT NULL,
	[fechaTransaccion] [datetime] NULL,
	[descripcion] [varchar](max) NULL,
 CONSTRAINT [PK_BeneficiosTransacciones] PRIMARY KEY CLUSTERED 
(
	[transaccionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CatalogoTipoAhorro]    Script Date: 11/19/2025 4:15:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CatalogoTipoAhorro](
	[tipoAhorroId] [int] IDENTITY(1,1) NOT NULL,
	[tipoAhorro] [varchar](50) NOT NULL,
 CONSTRAINT [PK_CatalogoTipoAhorro] PRIMARY KEY CLUSTERED 
(
	[tipoAhorroId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CatalogoTipoTransaccion]    Script Date: 11/19/2025 4:15:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CatalogoTipoTransaccion](
	[tipoTransaccionId] [int] IDENTITY(1,1) NOT NULL,
	[tipoTransaccion] [varchar](50) NOT NULL,
 CONSTRAINT [PK_CatalogoTipoTransaccion] PRIMARY KEY CLUSTERED 
(
	[tipoTransaccionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Error]    Script Date: 11/19/2025 4:15:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Error](
	[errorId] [int] IDENTITY(1,1) NOT NULL,
	[usuarioId] [int] NOT NULL,
	[mensaje] [varchar](max) NOT NULL,
	[origen] [varchar](50) NOT NULL,
	[fechaHora] [datetime] NOT NULL,
 CONSTRAINT [PK_Error] PRIMARY KEY CLUSTERED 
(
	[errorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notificaciones]    Script Date: 11/19/2025 4:15:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notificaciones](
	[notificacionId] [int] IDENTITY(1,1) NOT NULL,
	[usuarioId] [int] NULL,
	[titulo] [varchar](255) NOT NULL,
	[contenido] [varchar](max) NOT NULL,
	[tipo] [varchar](50) NOT NULL,
	[fechaEnvio] [datetime] NULL,
	[estado] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Notificaciones] PRIMARY KEY CLUSTERED 
(
	[notificacionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Perfil]    Script Date: 11/19/2025 4:15:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Perfil](
	[perfilId] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Perfil] PRIMARY KEY CLUSTERED 
(
	[perfilId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/** Insertar Perfiles nuevos **/
INSERT INTO [dbo].[Perfil] (Nombre)
VALUES ('Asociado'),
       ('Administrador');

/****** Object:  Table [dbo].[Prestamos]    Script Date: 11/19/2025 4:15:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Prestamos](
	[prestamoId] [int] IDENTITY(1,1) NOT NULL,
	[usuarioId] [int] NULL,
	[montoAprobado] [decimal](10, 2) NULL,
	[plazo] [int] NOT NULL,
	[cuotaSemanal] [decimal](10, 2) NULL,
	[tipoPrestamo] [varchar](50) NOT NULL,
	[estadoPrestamo] [varchar](50) NOT NULL,
	[fechaSolicitud] [datetime] NULL,
	[fechaEstado] [datetime] NULL,
	[saldoPendiente] [decimal](10, 2) NULL,
	[observaciones] [varchar](max) NULL,
 CONSTRAINT [PK_Prestamos] PRIMARY KEY CLUSTERED 
(
	[prestamoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PrestamosTransacciones]    Script Date: 11/19/2025 4:15:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PrestamosTransacciones](
	[transaccionPrestamoId] [int] IDENTITY(1,1) NOT NULL,
	[prestamoId] [int] NULL,
	[montoAbonado] [decimal](10, 2) NOT NULL,
	[fechaPago] [datetime] NULL,
 CONSTRAINT [PK_PrestamosTransacciones] PRIMARY KEY CLUSTERED 
(
	[transaccionPrestamoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SeguridadAuditoria]    Script Date: 11/19/2025 4:15:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SeguridadAuditoria](
	[auditoriaId] [int] IDENTITY(1,1) NOT NULL,
	[usuarioId] [int] NULL,
	[accion] [varchar](255) NOT NULL,
	[fechaAccion] [datetime] NULL,
	[direccionIp] [varchar](50) NULL,
	[tipoAccion] [varchar](50) NULL,
 CONSTRAINT [PK_SeguridadAuditoria] PRIMARY KEY CLUSTERED 
(
	[auditoriaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SolicitudesPrestamo]    Script Date: 11/19/2025 4:15:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SolicitudesPrestamo](
	[solicitudPrestamoId] [int] IDENTITY(1,1) NOT NULL,
	[usuarioId] [int] NOT NULL,
	[estadoCivil] [nvarchar](20) NOT NULL,
	[pagaAlquiler] [bit] NOT NULL,
	[montoAlquiler] [decimal](10, 2) NULL,
	[nombreAcreedor] [nvarchar](100) NULL,
	[totalCredito] [decimal](10, 2) NULL,
	[abonoSemanal] [decimal](10, 2) NULL,
	[saldoCredito] [decimal](10, 2) NULL,
	[nombreDeudor] [nvarchar](100) NULL,
	[totalPrestamo] [decimal](10, 2) NULL,
	[saldoPrestamo] [decimal](10, 2) NULL,
	[tipoPrestamo] [nvarchar](50) NOT NULL,
	[montoSolicitud] [decimal](10, 2) NOT NULL,
	[estadoSolicitud] [nvarchar](50) NOT NULL,
	[cuotaSemanalSolicitud] [decimal](10, 2) NOT NULL,
	[plazoMeses] [int] NOT NULL,
	[propositoPrestamo] [nvarchar](100) NOT NULL,
	[fechaSolicitud] [datetime] NULL,
 CONSTRAINT [PK_SolicitudesPrestamo] PRIMARY KEY CLUSTERED 
(
	[solicitudPrestamoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 11/19/2025 4:15:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[usuarioId] [int] IDENTITY(1,1) NOT NULL,
	[nombreCompleto] [varchar](255) NOT NULL,
	[correoElectronico] [varchar](255) NOT NULL,
	[contrasena] [varchar](255) NOT NULL,
	[tipoIdentificacion] [varchar](10) NOT NULL,
	[identificacion] [varchar](12) NOT NULL,
	[fechaNacimiento] [datetime] NOT NULL,
	[telefono] [varchar](20) NOT NULL,
	[direccion] [varchar](255) NOT NULL,
	[rol] [varchar](50) NOT NULL,
	[estadoAfiliacion] [varchar](50) NOT NULL,
	[fechaIngreso] [datetime] NULL,
	[perfilId] [int] NOT NULL,
	[estado] [bit] NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[usuarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK__Ahorros__tipoAho__4AB81AF0]    Script Date: 11/19/2025 4:15:22 AM ******/
CREATE NONCLUSTERED INDEX [IX_FK__Ahorros__tipoAho__4AB81AF0] ON [dbo].[Ahorros]
(
	[tipoAhorroId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK__Ahorros__usuario__49C3F6B7]    Script Date: 11/19/2025 4:15:22 AM ******/
CREATE NONCLUSTERED INDEX [IX_FK__Ahorros__usuario__49C3F6B7] ON [dbo].[Ahorros]
(
	[usuarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK__AhorroTra__ahorr__4E88ABD4]    Script Date: 11/19/2025 4:15:22 AM ******/
CREATE NONCLUSTERED INDEX [IX_FK__AhorroTra__ahorr__4E88ABD4] ON [dbo].[AhorroTransacciones]
(
	[ahorroId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK__AhorroTra__tipoT__4F7CD00D]    Script Date: 11/19/2025 4:15:22 AM ******/
CREATE NONCLUSTERED INDEX [IX_FK__AhorroTra__tipoT__4F7CD00D] ON [dbo].[AhorroTransacciones]
(
	[tipoTransaccionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK__Aportes__usuario__628FA481]    Script Date: 11/19/2025 4:15:22 AM ******/
CREATE NONCLUSTERED INDEX [IX_FK__Aportes__usuario__628FA481] ON [dbo].[Aportes]
(
	[usuarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK__AportesTr__aport__66603565]    Script Date: 11/19/2025 4:15:22 AM ******/
CREATE NONCLUSTERED INDEX [IX_FK__AportesTr__aport__66603565] ON [dbo].[AportesTransacciones]
(
	[aporteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK__Beneficia__usuar__44FF419A]    Script Date: 11/19/2025 4:15:22 AM ******/
CREATE NONCLUSTERED INDEX [IX_FK__Beneficia__usuar__44FF419A] ON [dbo].[Beneficiarios]
(
	[usuarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK__Beneficio__benef__6FE99F9F]    Script Date: 11/19/2025 4:15:22 AM ******/
CREATE NONCLUSTERED INDEX [IX_FK__Beneficio__benef__6FE99F9F] ON [dbo].[BeneficiosServiciosCuenta]
(
	[beneficioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK__Beneficio__usuar__6EF57B66]    Script Date: 11/19/2025 4:15:22 AM ******/
CREATE NONCLUSTERED INDEX [IX_FK__Beneficio__usuar__6EF57B66] ON [dbo].[BeneficiosServiciosCuenta]
(
	[usuarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK__Beneficio__cuent__73BA3083]    Script Date: 11/19/2025 4:15:22 AM ******/
CREATE NONCLUSTERED INDEX [IX_FK__Beneficio__cuent__73BA3083] ON [dbo].[BeneficiosTransacciones]
(
	[cuentaBeneficiosServiciosId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK__Notificac__usuar__797309D9]    Script Date: 11/19/2025 4:15:22 AM ******/
CREATE NONCLUSTERED INDEX [IX_FK__Notificac__usuar__797309D9] ON [dbo].[Notificaciones]
(
	[usuarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK__Prestamos__usuar__59FA5E80]    Script Date: 11/19/2025 4:15:22 AM ******/
CREATE NONCLUSTERED INDEX [IX_FK__Prestamos__usuar__59FA5E80] ON [dbo].[Prestamos]
(
	[usuarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK__Prestamos__prest__5DCAEF64]    Script Date: 11/19/2025 4:15:22 AM ******/
CREATE NONCLUSTERED INDEX [IX_FK__Prestamos__prest__5DCAEF64] ON [dbo].[PrestamosTransacciones]
(
	[prestamoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK__Seguridad__usuar__7E37BEF6]    Script Date: 11/19/2025 4:15:22 AM ******/
CREATE NONCLUSTERED INDEX [IX_FK__Seguridad__usuar__7E37BEF6] ON [dbo].[SeguridadAuditoria]
(
	[usuarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_FK__Solicitud__usuar__5441852A]    Script Date: 11/19/2025 4:15:22 AM ******/
CREATE NONCLUSTERED INDEX [IX_FK__Solicitud__usuar__5441852A] ON [dbo].[SolicitudesPrestamo]
(
	[usuarioId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Usuario] ADD  CONSTRAINT [DF_Usuario_Estado]  DEFAULT ((1)) FOR [estado]
GO
ALTER TABLE [dbo].[Ahorros]  WITH CHECK ADD  CONSTRAINT [FK__Ahorros__tipoAho__4AB81AF0] FOREIGN KEY([tipoAhorroId])
REFERENCES [dbo].[CatalogoTipoAhorro] ([tipoAhorroId])
GO
ALTER TABLE [dbo].[Ahorros] CHECK CONSTRAINT [FK__Ahorros__tipoAho__4AB81AF0]
GO
ALTER TABLE [dbo].[Ahorros]  WITH CHECK ADD  CONSTRAINT [FK__Ahorros__usuario__49C3F6B7] FOREIGN KEY([usuarioId])
REFERENCES [dbo].[Usuario] ([usuarioId])
GO
ALTER TABLE [dbo].[Ahorros] CHECK CONSTRAINT [FK__Ahorros__usuario__49C3F6B7]
GO
ALTER TABLE [dbo].[AhorroTransacciones]  WITH CHECK ADD  CONSTRAINT [FK__AhorroTra__ahorr__4E88ABD4] FOREIGN KEY([ahorroId])
REFERENCES [dbo].[Ahorros] ([ahorroId])
GO
ALTER TABLE [dbo].[AhorroTransacciones] CHECK CONSTRAINT [FK__AhorroTra__ahorr__4E88ABD4]
GO
ALTER TABLE [dbo].[AhorroTransacciones]  WITH CHECK ADD  CONSTRAINT [FK__AhorroTra__tipoT__4F7CD00D] FOREIGN KEY([tipoTransaccionId])
REFERENCES [dbo].[CatalogoTipoTransaccion] ([tipoTransaccionId])
GO
ALTER TABLE [dbo].[AhorroTransacciones] CHECK CONSTRAINT [FK__AhorroTra__tipoT__4F7CD00D]
GO
ALTER TABLE [dbo].[Aportes]  WITH CHECK ADD  CONSTRAINT [FK__Aportes__usuario__628FA481] FOREIGN KEY([usuarioId])
REFERENCES [dbo].[Usuario] ([usuarioId])
GO
ALTER TABLE [dbo].[Aportes] CHECK CONSTRAINT [FK__Aportes__usuario__628FA481]
GO
ALTER TABLE [dbo].[AportesTransacciones]  WITH CHECK ADD  CONSTRAINT [FK__AportesTr__aport__66603565] FOREIGN KEY([aporteId])
REFERENCES [dbo].[Aportes] ([aporteId])
GO
ALTER TABLE [dbo].[AportesTransacciones] CHECK CONSTRAINT [FK__AportesTr__aport__66603565]
GO
ALTER TABLE [dbo].[Beneficiarios]  WITH CHECK ADD  CONSTRAINT [FK__Beneficia__usuar__44FF419A] FOREIGN KEY([usuarioId])
REFERENCES [dbo].[Usuario] ([usuarioId])
GO
ALTER TABLE [dbo].[Beneficiarios] CHECK CONSTRAINT [FK__Beneficia__usuar__44FF419A]
GO
ALTER TABLE [dbo].[BeneficiosServiciosCuenta]  WITH CHECK ADD  CONSTRAINT [FK__Beneficio__benef__6FE99F9F] FOREIGN KEY([beneficioId])
REFERENCES [dbo].[BeneficiosServicios] ([beneficioId])
GO
ALTER TABLE [dbo].[BeneficiosServiciosCuenta] CHECK CONSTRAINT [FK__Beneficio__benef__6FE99F9F]
GO
ALTER TABLE [dbo].[BeneficiosServiciosCuenta]  WITH CHECK ADD  CONSTRAINT [FK__Beneficio__usuar__6EF57B66] FOREIGN KEY([usuarioId])
REFERENCES [dbo].[Usuario] ([usuarioId])
GO
ALTER TABLE [dbo].[BeneficiosServiciosCuenta] CHECK CONSTRAINT [FK__Beneficio__usuar__6EF57B66]
GO
ALTER TABLE [dbo].[BeneficiosTransacciones]  WITH CHECK ADD  CONSTRAINT [FK__Beneficio__cuent__73BA3083] FOREIGN KEY([cuentaBeneficiosServiciosId])
REFERENCES [dbo].[BeneficiosServiciosCuenta] ([cuentaBeneficiosServiciosId])
GO
ALTER TABLE [dbo].[BeneficiosTransacciones] CHECK CONSTRAINT [FK__Beneficio__cuent__73BA3083]
GO
ALTER TABLE [dbo].[Notificaciones]  WITH CHECK ADD  CONSTRAINT [FK__Notificac__usuar__797309D9] FOREIGN KEY([usuarioId])
REFERENCES [dbo].[Usuario] ([usuarioId])
GO
ALTER TABLE [dbo].[Notificaciones] CHECK CONSTRAINT [FK__Notificac__usuar__797309D9]
GO
ALTER TABLE [dbo].[Prestamos]  WITH CHECK ADD  CONSTRAINT [FK__Prestamos__usuar__59FA5E80] FOREIGN KEY([usuarioId])
REFERENCES [dbo].[Usuario] ([usuarioId])
GO
ALTER TABLE [dbo].[Prestamos] CHECK CONSTRAINT [FK__Prestamos__usuar__59FA5E80]
GO
ALTER TABLE [dbo].[PrestamosTransacciones]  WITH CHECK ADD  CONSTRAINT [FK__Prestamos__prest__5DCAEF64] FOREIGN KEY([prestamoId])
REFERENCES [dbo].[Prestamos] ([prestamoId])
GO
ALTER TABLE [dbo].[PrestamosTransacciones] CHECK CONSTRAINT [FK__Prestamos__prest__5DCAEF64]
GO
ALTER TABLE [dbo].[SeguridadAuditoria]  WITH CHECK ADD  CONSTRAINT [FK__Seguridad__usuar__7E37BEF6] FOREIGN KEY([usuarioId])
REFERENCES [dbo].[Usuario] ([usuarioId])
GO
ALTER TABLE [dbo].[SeguridadAuditoria] CHECK CONSTRAINT [FK__Seguridad__usuar__7E37BEF6]
GO
ALTER TABLE [dbo].[SolicitudesPrestamo]  WITH CHECK ADD  CONSTRAINT [FK__Solicitud__usuar__5441852A] FOREIGN KEY([usuarioId])
REFERENCES [dbo].[Usuario] ([usuarioId])
GO
ALTER TABLE [dbo].[SolicitudesPrestamo] CHECK CONSTRAINT [FK__Solicitud__usuar__5441852A]
GO
/****** Object:  StoredProcedure [dbo].[ActualizarContrasena]    Script Date: 11/19/2025 4:15:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ActualizarContrasena]
	@UsuarioId INT,
    @Contrasena VARCHAR(255)
AS
BEGIN

   UPDATE   dbo.Usuario
   SET      Contrasena = @Contrasena
   WHERE	UsuarioId = @UsuarioId

END
GO
/****** Object:  StoredProcedure [dbo].[ActualizarPerfil]    Script Date: 11/19/2025 4:15:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ActualizarPerfil]
	@UsuarioId INT,
    @NombreCompleto VARCHAR(15),
	@Identificacion VARCHAR(255),
	@FechaNacimiento DATETIME,
	@CorreoElectronico VARCHAR(100),
	@Telefono VARCHAR(20),
	@Direccion VARCHAR(255)
AS
BEGIN

   UPDATE   dbo.Usuario
   SET      nombreCompleto = @NombreCompleto,
			identificacion = @Identificacion,
			fechaNacimiento = @FechaNacimiento,
			correoElectronico = @CorreoElectronico, 
			telefono = @Telefono,
			direccion = @Direccion
   WHERE	usuarioId = @UsuarioId

END
GO
/****** Object:  StoredProcedure [dbo].[BuscarAsociado]    Script Date: 11/19/2025 4:15:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BuscarAsociado]
    @BuscarNombre NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;

    -- Buscar coincidencia por nombre completo (parcial o total)
    SELECT TOP 1 
        usuarioId AS Id,
        nombreCompleto AS NombreCompleto,
        correoElectronico AS CorreoElectronico,
        tipoIdentificacion AS TipoIdentificacion,
        identificacion AS Identificacion,
        telefono AS Telefono,
        fechaNacimiento AS FechaNacimiento,
        direccion AS Direccion,
        rol AS Rol,
        estadoAfiliacion AS EstadoAfiliacion
    FROM dbo.Usuario
    WHERE nombreCompleto LIKE '%' + @BuscarNombre + '%'
    ORDER BY usuarioId ASC;
END;
GO
/****** Object:  StoredProcedure [dbo].[BuscarAsociadoPorNombre]    Script Date: 11/19/2025 4:15:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[BuscarAsociadoPorNombre]
    @BuscarNombre VARCHAR(200)
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT TOP 1
        UsuarioId,
        NombreCompleto,
        Identificacion,
        CorreoElectronico,
        Telefono
    FROM Usuario
    WHERE NombreCompleto LIKE '%' + @BuscarNombre + '%'
        AND Estado = 1  -- Solo buscar usuarios activos
    ORDER BY NombreCompleto;
END
GO
/****** Object:  StoredProcedure [dbo].[ConsultarAsociado]    Script Date: 11/19/2025 4:15:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Procedimiento: RegistrarAsociado
-- Descripción: Registra un nuevo asociado en el sistema y devuelve el ID y la fecha formateada.
-- =============================================
CREATE PROCEDURE [dbo].[ConsultarAsociado]
    @UsuarioId INT
AS
BEGIN

        SELECT  usuarioId,
            U.nombreCompleto,
            correoElectronico,
            tipoIdentificacion,
            identificacion,
            fechaNacimiento,
            telefono,
            direccion,
            rol,
            estadoAfiliacion,
            fechaIngreso,
            U.perfilId,
            P.Nombre 'NombrePerfil'
        FROM  dbo.Usuario U
        INNER JOIN dbo.Perfil P ON U.perfilId = P.perfilId
        WHERE usuarioId = @UsuarioId

END
GO
/****** Object:  StoredProcedure [dbo].[DesactivarAsociado]    Script Date: 11/19/2025 4:15:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[DesactivarAsociado]
    @UsuarioId INT
AS
BEGIN
    SET NOCOUNT ON;
    
    UPDATE Usuario
    SET Estado = 0
    WHERE UsuarioId = @UsuarioId;
    
    SELECT @@ROWCOUNT AS FilasAfectadas;
END
GO
/****** Object:  StoredProcedure [dbo].[LiquidarRubroAsociado]    Script Date: 11/19/2025 4:15:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LiquidarRubroAsociado]
    @UsuarioId INT,
    @TipoRubro VARCHAR(50),
    @IdRubro INT
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        BEGIN TRANSACTION;
        
        DECLARE @FilasAfectadas INT = 0;
        
        IF @TipoRubro = 'Préstamo'
        BEGIN
            UPDATE Prestamos
            SET saldoPendiente = 0,
                estadoPrestamo = 'Liquidado'
            WHERE prestamoId = @IdRubro
                AND usuarioId = @UsuarioId;
                
            SET @FilasAfectadas = @@ROWCOUNT;
        END
        ELSE IF @TipoRubro = 'Ahorro'
        BEGIN
            UPDATE Ahorros
            SET montoActual = 0,
                estado = 'Liquidado'
            WHERE ahorroId = @IdRubro
                AND usuarioId = @UsuarioId;
                
            SET @FilasAfectadas = @@ROWCOUNT;
        END
        ELSE IF @TipoRubro = 'Aporte'
        BEGIN
            UPDATE Aportes
            SET monto = 0
            WHERE aporteId = @IdRubro
                AND usuarioId = @UsuarioId;
                
            SET @FilasAfectadas = @@ROWCOUNT;
        END
        ELSE IF @TipoRubro = 'Beneficio'
        BEGIN
            UPDATE BeneficiosServiciosCuenta
            SET montoPendiente = 0,
                estado = 'Liquidado'
            WHERE cuentaBeneficiosServiciosId = @IdRubro
                AND usuarioId = @UsuarioId;
                
            SET @FilasAfectadas = @@ROWCOUNT;
        END
        
        COMMIT TRANSACTION;
        
        SELECT @FilasAfectadas;
        
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
            
        SELECT 0; 
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerDetalleRubrosLiquidacion]    Script Date: 11/19/2025 4:15:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ObtenerDetalleRubrosLiquidacion]
    @UsuarioId INT
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Préstamos activos
    SELECT 
        'Préstamo' AS Tipo,
        'Préstamo ' + tipoPrestamo AS Descripcion,
        saldoPendiente AS Saldo,
        prestamoId AS IdRubro
    FROM Prestamos
    WHERE usuarioId = @UsuarioId
        AND estadoPrestamo = 'Aprobado'
        AND saldoPendiente > 0
    
    UNION ALL
    
    -- Ahorros activos
    SELECT 
        'Ahorro' AS Tipo,
        'Ahorro - ' + cta.tipoAhorro AS Descripcion,
        a.montoActual AS Saldo,
        a.ahorroId AS IdRubro
    FROM Ahorros a
    INNER JOIN CatalogoTipoAhorro cta ON a.tipoAhorroId = cta.tipoAhorroId
    WHERE a.usuarioId = @UsuarioId
        AND a.estado = 'Activo'
        AND a.montoActual > 0
    
    UNION ALL
    
    -- Aportes activos
    SELECT 
        'Aporte' AS Tipo,
        'Aporte ' + tipoAporte AS Descripcion,
        monto AS Saldo,
        aporteId AS IdRubro
    FROM Aportes
    WHERE usuarioId = @UsuarioId
        AND monto > 0
    
    UNION ALL
    
    -- Beneficios y Servicios activos
    SELECT 
        'Beneficio' AS Tipo,
        bs.nombre AS Descripcion,
        bsc.montoPendiente AS Saldo,
        bsc.cuentaBeneficiosServiciosId AS IdRubro
    FROM BeneficiosServiciosCuenta bsc
    INNER JOIN BeneficiosServicios bs ON bsc.beneficioId = bs.beneficioId
    WHERE bsc.usuarioId = @UsuarioId
        AND bsc.estado = 'Activo'
        AND bsc.montoPendiente > 0
    
    ORDER BY Tipo, Descripcion;
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerRubrosParaLiquidacion]    Script Date: 11/19/2025 4:15:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ObtenerRubrosParaLiquidacion]
    @BuscarNombre VARCHAR(200)
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT TOP 1
        UsuarioId,
        NombreCompleto
    FROM Usuario
    WHERE NombreCompleto LIKE '%' + @BuscarNombre + '%'
        AND Estado = 1
    ORDER BY NombreCompleto;
END
GO
/****** Object:  StoredProcedure [dbo].[RegistrarAsociado]    Script Date: 11/19/2025 4:15:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Procedimiento: RegistrarAsociado
-- Descripción: Registra un nuevo asociado en el sistema y devuelve el ID y la fecha formateada.
-- =============================================
CREATE PROCEDURE [dbo].[RegistrarAsociado]
    @NombreCompleto NVARCHAR(255),
    @CorreoElectronico NVARCHAR(255),
    @Contrasena NVARCHAR(255),
    @TipoIdentificacion NVARCHAR(10),
    @Identificacion NVARCHAR(12),
    @FechaNacimiento DATETIME,
    @Telefono NVARCHAR(20),
    @Direccion NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;
    
    BEGIN TRY
        BEGIN TRANSACTION;
        
        -- Validar que el correo no exista
        IF EXISTS (SELECT 1 FROM Usuario WHERE correoElectronico = @CorreoElectronico)
        BEGIN
            RAISERROR('El correo electrónico ya está registrado.', 16, 1);
            RETURN;
        END
        
        -- Validar que la identificación no exista
        IF EXISTS (SELECT 1 FROM Usuario WHERE identificacion = @Identificacion)
        BEGIN
            RAISERROR('La identificación ya está registrada.', 16, 1);
            RETURN;
        END
        
        -- Insertar el nuevo asociado
        INSERT INTO Usuario (
            nombreCompleto,
            correoElectronico,
            contrasena,
            tipoIdentificacion,
            identificacion,
            fechaNacimiento,
            telefono,
            direccion,
            rol,
            estadoAfiliacion,
            fechaIngreso
        )
        VALUES (
            @NombreCompleto,
            @CorreoElectronico,
            @Contrasena, -- En producción deberías hashear la contraseña
            @TipoIdentificacion,
            @Identificacion,
            @FechaNacimiento,
            @Telefono,
            @Direccion,
            'asociado', -- Rol por defecto
            'Activo', -- Estado por defecto
            GETDATE()
        );
        
        DECLARE @NuevoId INT = SCOPE_IDENTITY();
        DECLARE @FechaIngreso DATETIME = (SELECT fechaIngreso FROM Usuario WHERE usuarioId = @NuevoId);

        COMMIT TRANSACTION;
        
        -- Retornar el ID y la fecha formateada (dd/MM/yyyy)
        SELECT 
            @NuevoId AS usuarioId,
            CONVERT(NVARCHAR(10), @FechaIngreso, 103) AS FechaIngresoFormateada; -- 103 = formato dd/MM/yyyy

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
            
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();
        
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[RegistrarError]    Script Date: 11/19/2025 4:15:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[RegistrarError]
	@UsuarioId INT,
    @MensajeError VARCHAR(MAX),
    @OrigenError VARCHAR(50)
AS
BEGIN

    INSERT INTO dbo.Error (usuarioId,mensaje,origen,fechaHora)
    VALUES (@UsuarioId, @MensajeError, @OrigenError, GETDATE())

END
GO
/****** Object:  StoredProcedure [dbo].[Registro]    Script Date: 11/19/2025 4:15:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Registro]
	@NombreCompleto      VARCHAR(255),
    @CorreoElectronico   VARCHAR(255),
    @Contrasena          VARCHAR(255),
    @TipoIdentificacion  VARCHAR(10),
    @Identificacion      VARCHAR(12),
    @FechaNacimiento     DATETIME, 
    @Telefono            VARCHAR(20),
    @Direccion           VARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @EstadoActivo BIT = 1
    DECLARE @PerfilAsociado INT = 1;

    IF NOT EXISTS (SELECT 1 FROM Usuario
                   WHERE Identificacion = @Identificacion
                      OR CorreoElectronico = @CorreoElectronico)
    BEGIN
        INSERT INTO Usuario (
            nombreCompleto,
            correoElectronico,
            contrasena,
            tipoIdentificacion,
            identificacion,
            fechaNacimiento,
            telefono,
            direccion,
            rol,
            estadoAfiliacion,
            fechaIngreso,
            perfilId,
            estado
        )
        VALUES (
            @NombreCompleto,
            @CorreoElectronico,
            @Contrasena,
            @TipoIdentificacion,
            @Identificacion,
            @FechaNacimiento,
            @Telefono,
            @Direccion,
            'Asociado',
            'Activo',
            GETDATE(),
            @PerfilAsociado,
            @EstadoActivo
        );
    END
END
GO
/****** Object:  StoredProcedure [dbo].[ValidarSesion]    Script Date: 11/19/2025 4:15:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ValidarSesion]
	@Identificacion VARCHAR(12),
    @Contrasena VARCHAR(255)
AS
BEGIN

    SELECT  usuarioId,
            U.nombreCompleto,
            correoElectronico,
            contrasena,
            tipoIdentificacion,
            identificacion,
            fechaNacimiento,
            telefono,
            direccion,
            rol,
            estadoAfiliacion,
            fechaIngreso,
            U.perfilId,
            estado,
            P.Nombre 'NombrePerfil'
      FROM  dbo.Usuario U
      INNER JOIN dbo.Perfil P ON U.perfilId = P.perfilId
      WHERE identificacion = @Identificacion
        AND contrasena = @Contrasena
        AND Estado = 1

END
GO
/****** Object:  StoredProcedure [dbo].[ValidarUsuario]    Script Date: 11/19/2025 4:15:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ValidarUsuario]
	@CorreoElectronico VARCHAR(255)
AS
BEGIN

    SELECT  usuarioId,
            nombreCompleto,
            correoElectronico,
            contrasena,
            tipoIdentificacion,
            identificacion,
            fechaNacimiento,
            telefono,
            direccion,
            rol,
            estadoAfiliacion,
            fechaIngreso,
            perfilId,
            estado
      FROM  dbo.Usuario
      WHERE correoElectronico = @CorreoElectronico
        AND Estado = 1

END

GO
USE [master]
GO
