@model UsuarioModel

@{
    Layout = "_LayoutExterno";
}
<div class="loader-bg">
    <div class="loader-track">
        <div class="loader-fill"></div>
    </div>
</div>
<div class="auth-main">
    <div class="auth-wrapper v3">
        <div class="auth-form">
            <div class="auth-header">
                <a asp-controller="Home" asp-action="Registro"><img src="~/lib/img/ASECCC_LOGO3.1.png" alt="Logo"></a>
            </div>
            <div class="card my-5">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-end mb-4">
                        <h3 class="mb-0"><b>Crear Cuenta</b></h3>
                        <a asp-controller="Home" asp-action="Login" class="link-primary">¿Ya tienes una cuenta?</a>
                    </div>

                    <form id="FormRegistro" asp-action="Registro" asp-controller="Home">
                        <div class="form-group mb-3">
                            <label class="form-label">Nombre</label>
                            <input type="text" class="form-control" asp-for="NombreCompleto" readonly />
                        </div>

                        <div class="form-group mb-3">
                            <label class="form-label">Correo Electrónico</label>
                            <input type="email" class="form-control" asp-for="CorreoElectronico" />
                        </div>

                        <div class="form-group mb-3">
                            <label class="form-label">Contraseña</label>
                            <div class="input-group input-group-merge">
                                <input type="password" class="form-control" asp-for="Contrasena" />
                            </div>
                        </div>

                        <div class="form-group mb-3">
                            <label class="form-label">Tipo de identificación</label>
                            <select class="form-control" asp-for="TipoIdentificacion">
                                <option value="">Seleccione un tipo</option>
                                <option value="Nacional">Nacional</option>
                                <option value="DIMEX">DIMEX</option>
                            </select>
                        </div>

                        <div class="form-group mb-3">
                            <label class="form-label">Identificación</label>
                            <input type="text" class="form-control" asp-for="Identificacion" onkeyup="ConsultarNombre()" />
                        </div>

                        <div class="form-group mb-3">
                            <label class="form-label">Fecha Nacimiento</label>
                            <input type="date" class="form-control" asp-for="FechaNacimiento">
                        </div>

                        <div class="form-group mb-3">
                            <label class="form-label">Teléfono</label>
                            <input type="text" class="form-control" asp-for="Telefono"/>
                        </div>

                        <div class="form-group mb-3">
                            <label class="form-label">Dirección</label>
                            <input type="text" class="form-control" asp-for="Direccion"/>
                        </div>

                        <div class="d-grid mt-4">
                            <button type="submit" class="btn btn-primary">Procesar</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="auth-footer row">
                <div class="col my-1">
                    <p class="m-0">© <a href="#">ASECCC Digital </a> @DateTime.Now.Year </p>
                </div>
                <div class="col-auto my-1">
                    <ul class="list-inline footer-link mb-0">
                        <li class="list-inline-item"><a href="#">Inicio</a></li>
                        <li class="list-inline-item"><a href="#">Política de Privacidad</a></li>
                        <li class="list-inline-item"><a href="#">Contáctenos</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


</div>

<script src="~/js/Registro.js" asp-append-version="true"></script>









