<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>ASECCC Digital</title>
    <meta name="description" content="" />
    <link rel="icon" href="~/lib/img/ASECCC_LOGO_2.png" type="image/x-icon"> 
    @* Sección CSS *@
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;600;700&display=swap" id="main-font-link">
    <link rel="stylesheet" href="~/lib/fonts/tabler-icons.min.css">
    <link rel="stylesheet" href="~/lib/fonts/feather.css">
    <link rel="stylesheet" href="~/lib/fonts/fontawesome.css">
    <link rel="stylesheet" href="~/lib/fonts/material.css">
    <link rel="stylesheet" href="~/lib/css/style.css" id="main-style-link">
    <link rel="stylesheet" href="~/lib/css/style-preset.css">

</head>

<body>
   
        @RenderBody()
      

    @* Sección JS *@
    <script src="~/lib/js/popper.min.js"></script>
    <script src="~/lib/js/simplebar.min.js"></script>
    <script src="~/lib/js/bootstrap.min.js"></script>
    <script src="~/lib/js/custom-font.js"></script>
    <script src="~/lib/js/pcoded.js"></script>
    <script src="~/lib/js/feather.min.js"></script>
    <script src="~/lib/js/jquery.min.js"></script>
    <script src="~/lib/js/comunes.js"></script>
    <script>layout_change('light');</script>
    <script>change_box_container('false');</script>
    <script>layout_rtl_change('false');</script>
    <script>preset_change("preset-1");</script>
    <script>font_change("Public-Sans");</script>

</body>

</html>